body {
background-image: url("makeup.jpg");
background-size: cover;
}

.navbar.navbar-expand-lg.navbar-light {
background-color:white;
}

h3 {
color: #ff8080;
font-family: "Georgia", Times, serif;
}

a {
color: #ff8080;
}

form.container {
display: inline-block;
position: absolute;
border-radius: 5px;
border: 2px solid #ff8080;
margin: 150px;
right: 400px;
background-color: white;
max-width: 330px;
height: 200px;
}

div.autocomplete {
 position: relative;
 font-size: 16px;
 display: inline-block;
}
input[type=text] {
margin: 8px 0;
padding: 8px 62px;
border: 2px solid #ff8080;
border-radius: 4px;
background-color: #f2f2f2;
}

input[value=search] {
background-color: #ff8080;
font-family: "Georgia", Times, serif;
font-size: 20px;
color: #F7E9F4;
margin: 1px;
padding: 8px 118px;
border-radius: 4px;
cursor: pointer;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {

  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}